@font-face {
    font-family: 'notokr-demilight';
    src: url('noto-sans-kr-v13-latin_korean-300.eot'); /* IE9 Compat Modes */
    src:
        url('noto-sans-kr-v13-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('noto-sans-kr-v13-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('noto-sans-kr-v13-latin_korean-300.woff') format('woff'), /* Modern Browsers */
        url('noto-sans-kr-v13-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('noto-sans-kr-v13-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}