@import "../mixin";

.error {
    width: 100%;
    height: 60vh;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .errorTitleBlock {
        display: inline-block;
        box-sizing: border-box;
        padding: 1em 2em;
        color: #f00;
    }
    
    .errorDesc {
        width: 90%;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 24px;
    }
}


.faucetPanel {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 4em;

    .figure {
        font-size: 1em;
    }

    .request {
        display: flex;
        align-self: stretch;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        .bigNumber {
            line-height: 1;
            display: flex;
            justify-content: center;

            pre {
                margin: 0;
                padding: 0;
            }
        }
        .desc {
            margin: 2em 0;
        }

        .requestForm {
            .loading {
                @keyframes blinkCursor {
                    0% {
                        border-right-color: #fff;
                    }
                    40% {
                        border-right-color: #fff;
                    }
                    41% {
                        border-right-color: transparent;
                    }
                    100% {
                        border-right-color: transparent;
                    }
                }
                &::after {
                    content: "";
                    display: inline-block;
                    margin-left: 4px;
                    transition: all 0.5s linear;
                    animation: blinkCursor 0.8s linear infinite;
                    border-right: 2px dotted #fff;
                    height: 11px;
                }
            }
            .requestBtn {
                cursor: pointer;
                box-sizing: border-box;
                padding: 0.8em 1.6em;
                margin: 1em 0;
                background-color: transparent;
                border: 1px dotted #fff;
                color: #fff;

                &:hover {
                    background-color: #fff;
                    color: #000;
                    box-shadow: 6px 6px 0 3px #000;
                }

                &:disabled {
                    cursor: not-allowed;
                    border: 0;
                    background-color: rgb(212, 212, 212);
                    color: rgb(235, 235, 235);

                    &:hover {
                        background-color: rgb(212, 212, 212);
                        color: rgb(235, 235, 235);
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@include md {
    .faucetPanel {
        padding: 2em 0;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .figure {
            font-size: 10px;
        }
    
        .request {
            .bigNumber {
                &.scroll {
                    width: 100%;
                    overflow-x: scroll;
                }
    
                pre {
                    font-size: 12px;
                }
            }
            .desc {
                font-size: 12px;
            }
        }
    }
}






